﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>feedback</title>
</head>
<body>
    <div>
      <body bgcolor="#d5e4ed">
   <table id="container_div" style="text-align:center; border-collapse: collapse" align="center" bgcolor="#d5e4ed" width="100%" cellpadding="0" cellspacing="0" border="0">  <!-- Main Table Container with skyblue color -->
        <tr>
            <td align="center">
                <br>
            
                                <table id="container_table" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-collapse: collapse; min-width: 500px;" width="500">
                                    <tbody>
                                        <tr>
                                            <td valign="top" bgcolor="#ffffff">
                                                <table cellpadding="20" cellspacing="0" border="0" style="border-collapse: collapse; background-color: #ffffff" bgcolor="#ffffff" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
                                                                    <tbody>
                                                                        <tr valign="top">
                                                                             <td valign="top" align="center">
                                                                <a href="http://http://grassapparels.com/"><img src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/gifts/grassmicrositeedm/logo.png" alt="" data-embeded="auto" style="vertical-align: top; width: 100%;" width="100%"></a>
                                                            </td>                                                                         
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="image_container" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: collapse; background-color: rgb(255, 255, 255);" bgcolor="#ffffff">
                                                    <tbody>
                                                        <tr valign="top">
                                                            <td valign="top" align="center">
                                                                <a href="http://grassapparels.in/"><img src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/gifts/grassmicrositeedm/thank.jpg" alt="" data-embeded="auto" style="vertical-align: top; width: 100%;" width="100%"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                        
                                        <tr>
                                            <td valign="top" bgcolor="#ffffff">
                                               
 

        <!-- Footer Area -->                                    
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: collapse; background-color: #f6f6f6;">
                                                    <tbody>
                                                        <tr valign="top">
                                                            <td valign="top" width="75%">
                                                                <div style="text-align: left;font-size:10px; background-color: #f6f6f6; padding: 15px 15px;">                            
                                                                       
                                                                <span style="font-family: arial, helvetica, sans-serif;color: #000000; line-height: 130%;font-size:11px;">
                                                                          annectoś is the official marketting program manager for GRASS promo apparels. We specalises in key stake holder program that focuses into end to end solution that deliver efficiency and effectiveness<br><br>
                                                                         
                                                                </span>
                                                                <span style="font-family: arial, helvetica, sans-serif;color: #000000; line-height: 130%;font-size:11px;">
                                                                 <img src="https://s3-ap-southeast-1.amazonaws.com/cdn-new-annectos/images/bigbanner/gifts/grassmicrositeedm/globe.png">&nbsp; <strong>www.annectosindia.com</strong>&nbsp;&nbsp;&nbsp;<img src="https://s3-ap-southeast-1.amazonaws.com/cdn-new-annectos/images/bigbanner/gifts/grassmicrositeedm/call.png">&nbsp;<strong>+91 9686202046 / 9972334590</strong>&nbsp;<br> <img src="https://s3-ap-southeast-1.amazonaws.com/cdn-new-annectos/images/bigbanner/gifts/grassmicrositeedm/msg.png">&nbsp;<strong>email: customerfirst@annectos.in</strong>&nbsp;
                                                                           
                                                                          </span>

                                                                </div>

                                                                 <td valign="top">
                                                                    <div style="background-color: #333; text-align: center;font-size:10px;padding: 30px 5px;">                             
                                                                       <img src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/gifts/annectos.png">  
                                                                    </div>
                                                                </td>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
        <!--Footer area Ends here -->

            </td>
            </tr>
            </tbody>
            </table><br>

    </td> <!-- Main table Ends here-->
    </tr> <!-- Main table Ends here-->
    </table> <!-- Main table Ends here-->
</body>  
    </div>
</body>
</html>
